@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');


body{
    background-color: rgb(245, 245, 245);
    @apply font-[Raleway];
}

/* Custom scrollbar styles */
.scrollbar::-webkit-scrollbar {
    width: 8px; 
  }
 
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #F7C213; 
    border-radius: 5px; 
  }
  
  .scrollbar::-webkit-scrollbar-track {
    
    background-color: #ffffff;
    border-radius: 5pxrgb(255, 255, 255)t the color of the track 
  }
  
